$navy: #171a26;
$dustyRose: #b77c7f;
$mauve: #c99fa0;
$dustyBlue1: #bdcbd5;
$dustyBlue2: #a0c0d5;
$dustyBlue3: #88a1b1;
$darkPurple: #3b2b3c;
$berry: #7d2f49;
$peach: #f7aa87;
$white: #fff;
$black: #000;
$lightGrey: #f4f4f4;
$gold: #f5d180;

$navBackground: rgba(136, 161, 177, 0.7)

