@import "../../colors.scss";

.navigation{
  position: fixed;
  display: flex;
  background-color: $navBackground;
  padding: 20px;
  justify-content: center;
  width: 100%;
  z-index: 3;
  &__item{
    padding: 0 30px;
    font-weight: 400;
    font-size: 1.2em;
    a {
      color: white;
      text-decoration: none;
    }
  }
}